@{
    Layout = null;
}

<div class="topbar" id="topbar-left">
    <a href="@Url.Action("Index", "Home")"><img id="logo-small" src="@Url.Content("~/Content/logo.jpg")" /></a>
</div>
<div class="topbar" id="topbar-center">
    @{Html.RenderPartial("~/Views/Shared/_Search.cshtml");}
</div>
<div class="topbar" id="topbar-right">
    <table>
        <tr>
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <td>
                        @Html.ActionLink("Velkomin/n " + User.Identity.GetUserName() + "!", "Index", "Account", routeValues: null, htmlAttributes: new { title = "Mín síða" })
                    </td>
                    <td>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Útskráning</a>
                    </td>
                }
            }
            else
            {
                <td>
                    @Html.ActionLink("Nýskráning", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                </td>
                <td>
                    @Html.ActionLink("Innskráning", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </td>
            }
        </tr>
    </table>
</div>
<br style="clear: left;" />