﻿@using Translation.Models;
@Styles.Render("~/Content/Account.css")
@{
    ViewBag.Title = ViewBag.UserName;
}

<div class="account-container">
    <div class="account-info">
        @using (Html.BeginForm("Index", "Account", FormMethod.Post))
        {
            <h2>@ViewBag.UserName</h2>

            <table style="width:600px">
                <tr>
                    <td>Notendanafn:</td>
                    <td>@ViewBag.UserName</td>
                </tr>
                <tr>
                    <td>Tölvupóstur:</td>
                    <td>@ViewBag.Email</td>
                </tr>
                <tr>
                    <td>Land:</td>
                    <td>@ViewBag.Nationality</td>
                </tr>
                <tr>
                    <td>Meðlimur síðan:</td>
                    <td>@ViewBag.DateCreated</td>
                </tr>
            </table>
            <br />
            @Html.ActionLink("Breyta lykilorði", "Manage")
        }
    </div>
    <div class="account-pic">
        <img id="account-img" src="@Url.Content("~/Content/Person.jpg")" alt="Engin mynd fannst" />
    </div>
    <br style="clear: left;" />
</div>