﻿@using Translation.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<h1>Stilla prófíl</h1>

    <div> Notendanafn : @User.Identity.GetUserName() </div>
    <div> Tölvupóstur:  </div>
    <div> 
        <p>Sýna öðrum tölvupóst:</p>
        <form>
            <input type="checkbox" name="ShowEmail" value="Yes">Já<br>
        </form> 
    </div>
    <div> Land: </div>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}

    <div>     
        <form method="POST" enctype="multipart/form-data" action="Upload.">
            <label for="photo">Photo:</label>
            <input type=FILE name="FILE1">
            <input type=SUBMIT value="Upload">
        </form>
    </div>

<input type="submit" value="Breyta" />

            <p class="text-success">@ViewBag.StatusMessage</p>
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial")
                    }

                </div>
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
