﻿@using Translation.Models;
@Styles.Render("~/Content/Account.css")
@{
    ViewBag.Title = "Breyta notendasíðu";
}

<div class="account-container">
    <div class="account-info">
@using (Html.BeginForm("ChangeInfo", "Account", new { email = @ViewBag.Email, nationality = @ViewBag.Nationality }, FormMethod.Post))
{
        <h2>@ViewBag.Title.</h2>

        <table style="width:600px">
            <tr>
                <td>Notendanafn:</td>
                <td>@ViewBag.UserName</td>
            </tr>
            <tr>
                <td>Tölvupóstur:</td>
                <td><input type="text" name="email" placeholder="@ViewBag.Email" class="btn btn-default" /></td>
            </tr>
            <tr>
                <td>Sýna öðrum tölvupóst:</td>
                <td>
                    <form>
                        <input type="checkbox" name="ShowEmail" value="Yes">Já<br>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Land:</td>
                <td><input type="text" name="nation" placeholder="@ViewBag.Nationality" class="btn btn-default" /></td>
            </tr>
        </table>
        <input type="submit" value="Vista breytingar" class="btn btn-default" />
}
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }

            </div>
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
    <div class="account-pic">
        <img id="account-img" src="@Url.Content("~/Content/Person.jpg")" alt="Engin mynd fannst" />
    </div>
    <br style="clear: left;" />
</div>
