﻿@using Translation.Models;
@Styles.Render("~/Content/Account.css")
@{
    ViewBag.Title = ViewBag.UserName;
}

<div class="account-container">
    <div class="account-info">
        <h2>@ViewBag.UserName</h2>

        <table style="width:600px">
            <tr>
                <td>Notendanafn:</td>
                <td>@ViewBag.UserName</td>
            </tr>
            <tr>
                <td>Tölvupóstur:</td>
                <td>@ViewBag.Email</td>
            </tr>
            <tr>
                <td>Land:</td>
                <td>@ViewBag.Nationality</td>
            </tr>
        </table>
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }

            </div>
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
    <div class="account-pic">
        <img id="account-img" src="@Url.Content("~/Content/Person.jpg")" alt="Engin mynd fannst" />
    </div>
    <br style="clear: left;" />
</div>
