﻿@using Translation.Models;
@{
    ViewBag.Title = "Breyta notendasíðu";
}

<h2>@ViewBag.Title.</h2>


    <div> 
        Notendanafn : @ViewBag.UserName
    </div>
    <div> 
        Tölvupóstur: <input type="text" name="lastname" placeholder="@ViewBag.Email">

        @Html.Partial("_ChangeEmailPartial")

    </div>
    <div> 
        Sýna öðrum tölvupóst:
        <form>
            <input type="checkbox" name="ShowEmail" value="Yes">Já<br>
        </form> 
    </div>
    <div> Land: <input type="text" name="lastname" placeholder="@ViewBag.Nationality"></div>

@*@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}*@

  @* <div>     
        <form method="POST" enctype="multipart/form-data" action="Upload.">
            <label for="photo">Mynd:</label>
            <input type=FILE name="FILE1">
            <input type=SUBMIT value="Upload">
        </form>
    </div>*@

@Html.ActionLink("Vista breytingar", "Index")

            <p class="text-success">@ViewBag.StatusMessage</p>
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial")
                    }

                </div>
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
