@model IEnumerable<Translation.Models.TextLine>
@Styles.Render("~/Content/Translation.css")
@{
    ViewBag.Title = "Edit";
}
<script type="text/javascript">
    window.onload = function () {
        document.getElementById('Line1').focus();
    }
</script>
<div class="translation-container">
    <div class="subtitle-info">
        <h2>@ViewBag.Name</h2>

        <p>
            Þetta er þýðing fyrir kvikmyndina @ViewBag.Name. Hér er ný textaskrá búin til frá grunni. 
            Til þess að þýðingin sé rétt gerð þarf að skrifa allar setningar í réttri röð og passa að
            tímastimpill sé réttur og á forminu kk:mm:ss, sbr þ.e. klukkutími, mínútur, sekúndur og að
            lokum, sekúndubrot.
         </p>

        @using (Html.BeginForm("Edit", "Translation", FormMethod.Post))
        {      
            <table>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-time"></span>
                        <input type="text" name="TimeStart" value="00:00:00,000"> -
                        <input type="text" name="TimeStop" value="00:00:00,000">
                    </td>
                    <td>
                        <input type="text" id="Line1" name="Line1">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" id="Line2" name="Line2"></td>
                </tr>
            </table>
            <div class="input-group">
            <div class="btn-group">
            <input type="submit" name="submitter" value="Áfram" class="btn btn-default" />
            <input type="submit" name="submitter" value="Vista og hætta" class="btn btn-default" />
            </div>
            </div>
            <table>
                @{ int i = 0; }
                @foreach (var item in Model)
                {
                    <tr class="table-row@(i % 2)">
                        <td>
                            @Html.DisplayFor(model => item.TimeStampBegin) -
                            @Html.DisplayFor(model => item.TimeStampEnd)
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            @Html.DisplayFor(model => item.TranslationText1)
                        </td>
                    </tr>
                    <tr class="table-row@(i % 2)">
                        <td></td>
                        <td>&nbsp;</td>
                        <td>
                            @Html.DisplayFor(model => item.TranslationText2)
                        </td>
                    </tr>
                    i++;
                }
            </table>
        }
    </div>
    <div class="subtitle-pic">
        @if (ViewBag.PicPath != null)
        {
            <img id="subtitle-img" src="@Url.Content("~/Content/uploads/" + Path.GetFileName(@ViewBag.PicPath))" alt="No image" />
        }
    </div>
    <br style="clear: left;" />
</div>