@model Translation.Models.TextLine
@{
    ViewBag.Title = "EditFromFile";
}
<!-- TODO: snyrta til? -->
<script type="text/javascript">
    window.onload = function () {
        document.getElementById('Line1').focus();
    }
</script>

<h2>Breyttu og bættu</h2>

<h2>Lion King</h2>
<h3>Simbalover</h3>

@using (Html.BeginForm("EditFile", "Translation", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.DisplayFor(model => Model.OriginalText1)
            </td><td>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </td><td>
                @Html.TextBox("Line1", Model.TranslationText1)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => Model.OriginalText2)
            </td><td>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </td><td>
                @Html.TextBox("Line2", Model.TranslationText2)
            </td>
        </tr>
        
    </table>
    <input type="hidden" name="linenum" value="@Request.Params["linenum"]" />
    // TODO: endurrada med css
    <input type="submit" name="direction" value=">>" /> 
    <input type="submit" name="direction" value="<<" />
}

