@model Translation.Models.ViewModel
  
@{
    ViewBag.Title = "Translation";
}

<div>
    @{Html.RenderPartial("~/Views/Shared/_Search.cshtml");}
</div>

@Html.ActionLink("Baaaaa", "Edit");
@Html.ActionLink("New", "New");
@Html.ActionLink("Read", "Read");

<h2>Translation comments</h2>

@foreach (var item in Model.CommentItems)
{
    <div class="news-item">
        <span class="news-time">@Html.DisplayFor(model => item.Text)&nbsp;</span>
    </div>
}

<div>
    @using (Html.BeginForm("Index", "Translation", FormMethod.Post))
    {
        @Html.TextArea("Text", new { cols = 60, rows = 10 })
        <input type="submit" value="Gogo power rangers" />
    }
</div>

@foreach (var item in Model.TranslationItems)
{
    <div class="news-item">
        <span class="news-time">@Html.DisplayFor(model => item.Name)&nbsp;</span>
    </div>
}


@*@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

@using (Html.BeginForm("Index", "Translation", FormMethod.Post))
{
    @("Gerð: ")<br />

    @Html.TextArea("Text", new { cols = 40, rows = 10 })
    <input type="submit" value="Senda" />

}*@