
@{
    ViewBag.Title = "New";
}

<div>
    @{Html.RenderPartial("~/Views/Shared/_Search.cshtml");}
</div>

<h2>Ný Þýðing</h2>

@using (Html.BeginForm("New", "Translation", FormMethod.Post))
{
     @("Titill: ")
     @Html.TextBox("Name")<br />
    
     @("Tungumál þýðingar: ")
         <select id="tungumál">     
             <option selected="selected">Tungumál</option>
             <option value="is">Íslenska</option>
             <option value="en">Enska</option>
         </select><br />
    
    @("Fyrir heyrnarskerta:")
    @Html.CheckBox("ForHardOfHearing", false)<br />
    
    @("Mynd:")
    <input type="file" id="fileUpload" name="Picture"/><br />
    @("Skrá til þýðingar:")
    <input type="file" id="fileUpload2" name="File"/><br />
    
    @("Leyfa samstarf:")
    @Html.CheckBox("CollaborationAllowed", false)<br />
    
    <input type="button" value="Byrja þýðingu" />
    
}

