@model IEnumerable<Translation.Models.TextLine>
@Styles.Render("~/Content/Translation.css")
@{
    ViewBag.Title = ViewBag.Name;
}
<div class="translation-container">
    <div class="subtitle-info">
        <h2>@ViewBag.Name</h2>
        <table>
            @{ int i = 0; }
            @foreach (var item in Model)
            {
                <tr class="table-row@(i % 2)">
                    <td>
                        @Html.DisplayFor(model => item.TranslationText1)
                    </td>
                </tr>
                <tr class="table-row@(i % 2)">
                    <td>
                        @Html.DisplayFor(model => item.TranslationText2)
                    </td>
                </tr>
                i++;
            }
        </table>
        @Html.ActionLink("Til baka", "Index", new { id = Model.FirstOrDefault().SubtitleID })
    </div>
    <div class="subtitle-pic">
        @if (ViewBag.PicPath != null)
        {
            <img id="subtitle-img" src="@Url.Content("~/Content/uploads/" + Path.GetFileName(@ViewBag.PicPath))" alt="No image" />
        }
    </div>
    <br style="clear: left;" />
</div>
