@model IEnumerable<Translation.Models.TextLine>
@Styles.Render("~/Content/Translation.css")
@{
    ViewBag.Title = ViewBag.Name;
}
<div class="translation-container">
    <div class="subtitle-info">
        <h2>Read text</h2>

        @foreach (var item in Model)
        {
            <p>
                @Html.DisplayFor(model => item.TranslationText1)
            </p>
            <p>
                @Html.DisplayFor(model => item.TranslationText2)
            </p>
        }
        @Html.ActionLink("Til baka", "Index", new { id = Model.First().SubtitleID })
    </div>
    <div class="subtitle-pic">
        <img id="subtitle-img" src="@Url.Content("~/Content/uploads/" + Path.GetFileName(@ViewBag.PicPath))" alt="No image" />
    </div>
    <br style="clear: left;" />
</div>
