@{
    ViewBag.Title = "Requests";
}



        <h2>Ný beiðni</h2>

        @using (Html.BeginForm("Index", "Request", FormMethod.Post))
        {
            @("Titill: ")
            @Html.TextBox("Titill")<br />
            
            @("Tungumál þýðingar: ")
            <select id="tungumál">     
                <option selected="selected">Tungumál</option>
                <option value="íslenska">Íslenska</option>
                <option value="enska">Enska</option>
            </select><br />
             
            @("Fyrir heyrnarskerta:")
            @Html.RadioButton("Deaf", "Yes", false)
            @("Já")
            @Html.RadioButton("Deaf", "No", true)
            @("Nei")<br />

           <input type="submit" value="Senda inn beiðni" />
        }


