@{
    ViewBag.Title = "Requests";
}



<h2>Ný beiðni</h2>

@using (Html.BeginForm("Index", "Request", FormMethod.Post))
{
    @("Titill: ")
    @Html.TextBox("Name")<br />
            
    @("Tungumál þýðingar: ")
    <select id="Language">     
        <option selected="selected">Tungumál</option>
        <option value="íslenska">Íslenska</option>
        <option value="enska">Enska</option>
    </select><br />
             
    @("Fyrir heyrnarskerta:")
    @Html.RadioButton("ForHardOfHearing", true, false)
    @("Já")
    @Html.RadioButton("ForHardOfHearing", false, true)
    @("Nei")<br />

    <input type="submit" value="Senda inn beiðni" />
}


