@Styles.Render("~/Content/Request.css")
@{
    ViewBag.Title = "Ný beiðni";
}
<div class="request-container">
    <div class="request-mid">
        <h2>Ný beiðni</h2>
        @using (Html.BeginForm("Index", "Request", FormMethod.Post))
        {
            <div class="input-group">
            <span class="input-group-addon">@("Titill: ")</span>
            @Html.TextBox("Name", "", new { @class = "form-control" })<br />
            </div>
            <div class="btn-group">
            <div class="input-group">
                <span class="input-group-addon">@("Tungumál þýðingar: ")</span>
                <select name="Language" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <option selected="selected" value="is">íslenska</option>
                    <option value="gb">enska</option>
                    <option value="pl">pólska</option>
                    <option value="dk">danska</option>
                    <option value="se">sænska</option>
                    <option value="no">norska</option>
                    <option value="fi">finnska</option>
                    <option value="fo">færeyska</option>
                    <option value="de">þýska</option>
                    <option value="fr">franska</option>
                    <option value="es">spænska</option>
                    <option value="it">ítalska</option>
                </select><br />
            </div>
            </div>
            <div class="input-group">
            @("Fyrir heyrnarskerta:")
            @Html.CheckBox("ForHardOfHearing", false)
            <br />
            </div>
            <div class="input-group">
            <input type="submit" value="Senda inn beiðni" class="btn btn-default" />
            </div>
        }
    </div>
</div>