@model IEnumerable<Translation.Models.Request>
@Styles.Render("~/Content/Home.css")
@Styles.Render("~/Content/flags.css")
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<script type="text/javascript">
    function modify_qty(val) {
        var qty = document.getElementById('qty').value;
        var new_qty = parseInt(qty, 10) + val;

        if (new_qty < 0) {
            new_qty = 0;
        }

        document.getElementById('qty').value = new_qty;
        return new_qty;
    }
</script>
@{Html.RenderPartial("~/Views/Shared/_LoginPartial.cshtml");}

<div id="main-container">
    <img id="logo-big" src="@Url.Content("~/Content/logo_large.jpg")" />
    @{Html.RenderPartial("~/Views/Shared/_Search.cshtml");}

    <div class="btn-group">
        <input type="button" class="btn btn-default" value="Ný beiðni" onclick="location.href='@Url.Action("Index", "Request")'" />
        <input type="button" class="btn btn-default" value="Ný þýðing" onclick="location.href='@Url.Action("New", "Translation")'" />
    </div>
    <div id="table">
        <table class="request">
            <caption><b>Beiðnir</b></caption>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Name)</td>
                        <td>
                            @if (item.ForHardOfHearing)
                            {
                                <span class="glyphicon glyphicon-headphones" title="Fyrir heyrnaskerta"></span>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </td>
                        <td>
                            <img src="blank.gif" class="flag flag-@(item.Language)" />
                        </td>
                        <td>
                            <input type="button" value="Þýða" class="btn btn-default" onclick="location.href='@Url.Action("New", "Translation", new {
                           name = item.Name, hear = item.ForHardOfHearing, langage = item.Language
                       })'" />
                        </td>
                        <td>
                            <div class="box" >
                                @using (Html.BeginForm("UpVote", "Home", FormMethod.Post))
                                {
                                    <label for="qty" id="labe"><abbr title="Quantity"></abbr></label>
                                    <input id="qty" value="@Html.DisplayFor(model => item.Upvote)" />
                                    <input type="hidden" name="RequestID" value="@Html.DisplayFor(model => item.ID)" />
                                    <button name="upvote" type="submit" id="up" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up" title="Upvote"></span></button>
                                }
                            </div>
                        </td>
                        <td>@if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                            {
                                using (Html.BeginForm("DeleteRequest", "Home", FormMethod.Post))
                                {
                                    <div>
                                    <input type="hidden" name="ID" value="@Html.DisplayFor(model => item.ID )" />
                                    <button name="delete" value="Eyða" type="submit" id="delete" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    </div>

